header.header
  .header-block.row.justify-content-between
    .__logo Akad.
    nav.menu.__menu
      ul.list.__list
        li.__item
          a(href="index.html") Home
        li.__item
          a(href="services.html") Services
        li.__item
          a(href="blog.html") Blog
        li.__item
          a(href="about.html") About
        li.__item
          a(href="contact.html") Contact
        
