header.header
  .header-block.row.justify-content-between
    .__logo Akad.
    nav.menu.__menu
      ul.list.__list
        each linkName in [['index', 'Home'], ['services', 'Services'], ['blog', 'Blog'], ['portfolio', 'Portfolio'], ['about-us', 'About'], ['contact-us', 'Contact']]
          li.__item
            a(href=linkName[0]+".html") #{linkName[1]}
