.newsletter-wrapper
  section.newsletter-section.container
    .newsletter-row.row
      .newsletter-title.__title-block.col-md-6
        .__title You think we're cool? Let's work together
        .button.button_c-white.button_f-bold.__btn Get in touch
      .newsletter-form.__form-block.col-md-6
        .__title Stay informed with our newsletter
        .__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        form(action="#").__form
          input(type="email" placeholder="your email").newsletter-input
          button(type="submit").button.button_c-accent.button_f-bold.newsletter-btn Send 
