section.title-section.why-choose-us.row.flex-column.align-items-center
  h2.__title <span class="title-span">why</span> choose us
  .__text.col-md-8 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
