extends base/base

block vars
  - var page = 'homepage'

block title
  | Homepage
  

block content
  .container
    +title-section('why-choose-us', 'why', ' choose us')
    section.features-section.row.justify-content-between
      h2.__title Features
      .features-block.__block.col-md-6.row.align-self-end
        .feature-block.__feature-block
          .__icon
          .__title unlimited options
          ul.feature-list.__list
            li.__item Branding
            li.__item Design & Copywriting
            li.__item Concept development
            li.__item User Experience
        .feature-block.__feature-block
          .__icon
          .__title design & development
          ul.feature-list.__list
            li.__item Information architecture
            li.__item Interface design
            li.__item Product Design
            li.__item Integrated ad Companies
        .feature-block.__feature-block
          .__icon
          .__title e-commerce
          ul.feature-list.__list
            li.__item Prototyping
            li.__item Technical Consulting
            li.__item Web applications
            li.__item Quality testing
        .feature-block.__feature-block
          .__icon
          .__title customizable design
          ul.feature-list.__list
            li.__item Information architecture
            li.__item Interface design
            li.__item Product Design
            li.__item Integrated ad Companies    
      .features.__img-block.img-responsive
        img(src="img/homepage/workspace.jpg").__img
    +title-section('our-portfolio', 'our', ' portfolio')
    include blocks/portfolio-section
  include blocks/newsletter-section
      
