extends base/base

block vars
  - 
    var title = 'Portfolio'
    page = 'portfolio'

block title
  | #{title}
  

block content
  .container
    include blocks/portfolio-section
  include blocks/newsletter-section
