// Блоки
@import "blocks/buttons/button"
@import "blocks/header"
@import "blocks/footer"
@import "blocks/top-wrapper"
@import "blocks/top-block"
@import "blocks/title-section"

.features-section
  margin-top: 6rem
  &__title
    display: none

.features-block


.feature-block
  width: 270px
  height: 240px
  &:nth-child(1)
    .feature-block__icon
      background: url("../img/sprites/sprites.png") no-repeat -58px -62px
      width: 56px
      height: 23px
      zoom: .6
      margin-top: 0.7rem
  &:nth-child(2)
    .feature-block__icon
      background: url("../img/sprites/sprites.png") no-repeat -14px -59px
      width: 28px
      height: 28px
      zoom: .9
  &:nth-child(3)
    .feature-block__icon
      background: url("../img/sprites/sprites.png") no-repeat -13px -109px
      width: 28px
      height: 28px
      zoom: .9
  &:nth-child(4)
    .feature-block__icon
      background: url("../img/sprites/sprites.png") no-repeat -129px -62px
      width: 53px
      height: 40px
      zoom: .5
      margin-top: 0.2rem
  &__title
    margin-top: .5rem
    font-family: Montserrat
    text-transform: uppercase
    font-size: 18px
    font-weight: bold
  &__list
    margin-top: .5rem
    padding: 0
    list-style: none
    font-size: 14px
    text-transform: uppercase
    color: $gray1
    line-height: (30 / 14)
